---
---

@import "{{ site.theme }}";

a {
    color:#39c;
    text-decoration:none;
    font-size: 1em;
    font-weight: normal;
}
  
a:hover {
    color:#069;
    text-decoration:none;
    font-size: 1em;
    font-weight: normal;
}

ol {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding-left: 2em;
}
ol li {
    margin-bottom: 0.1em;
    margin-top: 0.1em;
    padding: 0;
}
  